.list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.item {
    width: 240px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.delete {
    flex-grow: 0.2;
}

.update {
    flex-grow: 0.2;
}